      </main>

      <footer id='footer' class='footer'>
        <div class='container sep-before'>
          {{ partial "nav/menus/social" . }}
          {{ partial "footer/copyright" . }}
        </div>
      </footer>
    </div>
  </div>

    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/r.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/python.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-6844136270310089",
          enable_page_level_ads: true
     });
</script>



  {{- partial "sidebar/overlay" . -}}

  {{- partial "footer/scripts" . -}}




</body>

</html>
